:root {
    --focused-valid-input: #0aa0be;
    --focused-invalid-input: #ad0606;
}

.Form {
    padding: 0.4rem 0.2rem;
    margin: 0.2rem;
}

.Input {
    display: block;
    border: solid 1px #ebebeb;
    background-color: #ebebeb;
    margin: 0.4rem 0;
    width: 100%;
    border-radius: 4px
}

.Input:focus {
    outline: none;
    border: solid 1px var(--focused-valid-input);
    box-shadow: 1px 1px 5px rgb(0, 199, 182);
}

.Invalid {
    outline: none;
    border: solid 1px var(--focused-invalid-input);
    background-color: #ebebeb;
}

.Invalid:focus {
    outline: none;
    border: solid 1px var(--focused-invalid-input);
    box-shadow: 1px 1px 5px #a72d2d;
}

.Select {
    display: block;
    outline: none;
    border: solid 1px #ebebeb;
    background-color: #ebebeb;
}

.Select:active {
    outline: none;
    border: solid 1px var(--focused-valid-input);
    box-shadow: 1px 1px 5px rgb(0, 199, 182);
}