.confirmationCheck{
    position: fixed;
    top: 30%;
    height: 30%;
    width: 40%;
    z-index: 13;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #494949;
    border-radius: 10px;
    animation: modalAnimation 0.5s ease-out forwards;
}

@keyframes modalAnimation{
    0%{
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}