.items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
}

.slide {
    display: block;
    position: absolute;
    transform: translatex(-100%);
}

.currentSlide {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    animation: newslide 2s ease-out forwards
}

.currentSlide.opposite{
    animation: newslideOpposite 2s ease-out forwards
}

@keyframes newslide {
    0%{
        transform: translatex(-100%);
        display: block;
    }
    100%{
        transform: translatex(0%);
        display: block;
    }
}

@keyframes newslideOpposite {
    0%{
        transform: translatex(100%);
        display: block;
    }
    100%{
        transform: translatex(0%);
        display: block;
    }
}

.pastSlide{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    animation: prevslide 2s ease-out forwards;
}

.pastSlide.opposite{
    animation: prevslideOpposite 2s ease-out forwards
}

@keyframes prevslide {
    0%{
        transform: translatex(0%);
    }
    100%{
        transform: translatex(100%);
    }
}

@keyframes prevslideOpposite {
    0%{
        transform: translatex(0%);
    }
    100%{
        transform: translatex(-100%);
    }
}

.yellow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../../../../assets/images/hangoverslider.jfif');
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}

.yellow h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.red{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../../../../assets/images/terminatorslider.jfif');
    background-size: cover;
    background-position: center;
    color: white;
    width: 100%;
    height: 100%;
}

.red h1{
    font-family: monospace;
}

.black{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../../../../assets/images/conjuringslider.jfif');
    background-size: cover;
    background-position: center;
    color: white;
    width: 100%;
    height: 100%;
}

.black h1{
    font-family: fantasy;
}

.slider-banner {
    height: 80%;
    width: 25%;
    margin-left: 2%;
    background: rgb(24, 24, 24);
    border-radius: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.slider-banner p {
    text-align: center;
    font-size: 1.2rem;
}

@media (max-width: 900px) {
    .slider-banner {
        height: 90%;
        width: 35%;
    } 
}

@media (max-width: 470px) {
    .slider-banner {
        height: 90%;
        width: 50%;
    } 

    .slider-banner p {
        font-size: 1rem;
    }

    .slider-banner h1 {
        font-size: 1.3rem;
    }
}