.Login{
    width: 100vw;
    height: calc(75vh - 6rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.Login h2{
    color: var(--primary_color);
    font-size: 1.5rem;
    border: solid 5px;
    width: 50%;
    min-width: 20rem;
    max-width: 40rem;
    margin: 5px 5px 40px 5px;
    padding: 5px 40px;
    border: solid 5px var(--background-color);
    border-radius: 10px;
    box-shadow: -6px 6px 4px -4px;
    background: var(--background-color);
}

.Form{
    padding: 0.5rem;
    width: 50%;
    min-width: 20rem;
    max-width: 40rem;
    background-color: var(--background-color);
    border-radius: 10px
}

.errorMessage{
    color: #b31111;
    font-size: 1rem;
    width: 50%;
    margin: 0.15rem auto;
}

@media (max-width: 1030px) {
    .Login h2{
        width: 85vw;
    }

    .Form{
        width: 85vw;
    }
}

@media (max-width: 480px) {
    .Login{
        height: calc(85vh - 6rem);
    }
    .Login h2{
        margin: 0px 0px 4.5vh 0px;;
        padding: 0;
    }
    .Form{
        padding: 0;
    }
}

@media (max-height: 780px){
    .Login {
        padding-top: 2.5rem;
    }
}
