.main_div-basket {
  padding: 20px 40px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(75vh - 6rem);
  background: linear-gradient(
    to left bottom,
    var(--primary_color),
    10%,
    var(--background-color)
  );
}

.basket_div--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70vw;
  height: 60vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.basket_div--bill {
  display: flex;
  width: 30vw;
  height: 60vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 2px;
  background-color: rgb(221, 221, 189);
}

.main_div-basket h2 {
  color: var(--background-color);
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  margin: 5px 5px 10px 5px;
  padding: 5px 40px;
  font-family: monospace;
}

.basket_div--button {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

@media (max-width: 770px) {
  .main_div-basket {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .basket_div--content {
    width: 95vw;
    height: 70vh;
    overflow-y: hidden;
  }

  .basket_div--bill {
    width: 95vw;
    height: 55vh;
  }
}
