.Button {
  outline: none;
  width: 7rem;
  height: 2.6rem;
  border-radius: 3px;
  margin: 10px 5px;
  border: none;
  box-shadow: 1px 1px 2px black;
  background: var(--logo-background);
  color: var(--secondary-color);
}

.cancel {
  background: rgb(163, 18, 18);
  color: white;
}

.receipt {
  background: var(--background-color);
  color: var(--secondary-text-color);
  font-weight: bold;
}

.modal {
  background: none;
  box-shadow: none;
  color: var(--primary_color);
  font-weight: bold;
  font-size: 1.5rem;
}

.modal.cancel {
  color: rgb(207, 6, 6);
}

.Button:active {
  outline: none;
  box-shadow: inset 0px 0px 1px 1px black;
  background: var(--primary_color);
  width: 6.95rem;
  height: 2.55rem;
}

.cancel:active {
  background: rgb(207, 6, 6);
  color: white;
}

.receipt:active {
  background: var(--secondary-color);
  color: #fdf9f9;
}

.modal:active {
    background: none;
    box-shadow: none;
    color: var(--auxiliary-color);
}

.modal.cancel:active {
    color: rgb(163, 18, 18);
}

.Button:disabled {
  cursor: not-allowed;
  border: none;
  background: var(--secondary-color);
  color: var(--secondary-text-color);
}
