.main_div-bestSeller{
    margin: 20px;
    padding: 20px 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_div-bestSeller h2{
    color: var(--primary_color);
    font-size: 1.5rem;
    border: solid 5px;
    margin: 5px 5px 40px 5px;
    padding: 5px 40px;
    width: 100%;
    border: solid 5px var(--background-color);
    border-radius: 10px;
    box-shadow: 4px 4px 10px 4px;
    background: var(--background-color)
}