.main-page{
    padding: 0 0 20px 0;
    display: flex;
    width: 100vw;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #494949;
}
