:root{
    --primary_color: #1295b6;
    --auxiliary-color: #07458b ;
    --secondary-color: #7e7a7a;
    --background-color: #1d1d1d;
    --logo-background: linear-gradient(to left top, var(--auxiliary-color), var(--primary_color), #fff);
    --background-nav: linear-gradient(to bottom, var(--secondary-color) 65%, #6e6e6e 80%, #5c5c5c 90%, #3f3f3f 98%);
}

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin:0;
    margin-top: 6rem;
}

#root{
    height: 100%;
    width: 100%;
}

.App{
    background: #494949;
    width: 100%;
    height: 100%;
}